<!-- Normal Pipes -->
<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>

<!-- Currency pipes -->
<h2>{{amount}}</h2>
<h2>{{amount | currency}}</h2>
<!-- For pass any country currency -->
<h2>{{amount | currency : 'INR'}}</h2>
<h2>{{amount | currency : 'EUR'}}</h2>

<!-- Decimal Pipe -->
<h2>{{amount | number}}</h2>
<h2>{{amount | number : "1.1-1"}}</h2>
<h2>{{amount | number : "1.1-2"}}</h2>

<!-- Date Pipe -->
<h2>{{currentdate}}</h2>
<h2>{{currentdate | date}}</h2>
<h2>{{currentdate | date : "dd/MM/yyyy"}}</h2>
<h2>{{currentdate | date : "dd/MMM/yy"}}</h2>

<!-- Percentage pipe -->
<h2>{{percentdata | percent}}</h2>
<h2>{{percentdata1 | percent}}</h2>

<!-- Slice pipe -->
<h2>{{title}}</h2>
<h2>{{title | slice : 1:5}}</h2>
<h2>{{title | slice : 0:5}}</h2>
<h2>{{title | slice : 0:7}}</h2>
<h2>{{title | slice : 8:11}}</h2>

<!-- Json Pipe -->
<h2>{{jsonobject}}</h2>
<h2>{{jsonobject | json}}</h2>
<h2>{{jsonobject | json | uppercase}}</h2>

 <!-- Command For creating custom pipe : ng g p pipe_name  -->
 <h2>{{amount | sgpd : sgdrate}}</h2>